<!DOCTYPE html>
<html>

<head>

<title>Customer Dashboard</title>

<style>

body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

nav{
    background:#1e293b;
    padding:15px;
}

.container{
    padding:30px;
}

.card{

    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}

.balance{
    font-size:40px;
    color:#4ade80;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid #334155;
}

th, td{
    padding:12px;
}

</style>

</head>

<body>

<nav>
    Falcon National Bank
</nav>

<div class="container">

    <h1>Welcome Back, Customer</h1>

    <div class="card">

        <h3>Available Balance</h3>

        <div class="balance">
            ₹ 4,85,220
        </div>

    </div>

    <div class="card">

        <h3>Recent Transactions</h3>

        <table>

            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>

            <tr>
                <td>28 May</td>
                <td>Amazon Purchase</td>
                <td>- ₹2,500</td>
            </tr>

            <tr>
                <td>27 May</td>
                <td>Salary Credit</td>
                <td>+ ₹50,000</td>
            </tr>

            <tr>
                <td>25 May</td>
                <td>Electricity Bill</td>
                <td>- ₹1,800</td>
            </tr>

        </table>

    </div>

</div>

</body>

</html>

